# Python
__pycache__/
*.py[cod]
*$py.class

gameai/ 

# Virtual environments
gameai/
.venv/
venv/
env/

# macOS
.DS_Store

# VS Code
.vscode/

# Python packaging
*.egg-info/
dist/
build/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.log